*{
  font-family: "Open Sans", sans-serif;
}
.hero {
  background: url("bg-landing.png") no-repeat center center / cover;
  background-position-y: 50%;
  transition: opacity 1s ease-in;
  height: 80vh;
  border-radius: 0 0 20px 20px;
}
.btn-jh{
  background-color: #D1AE35 !important;
}
.text-jh{
  color: #D1AE35;
}
.bg-jh2{
  background-color: #110648;
}
.divisor::after{
  content: '';
  display: block;
  width: 80%;
  height: 8px;
  border-radius: 20px;
  background-color: #D1AE35;
}
.section {
  padding: 60px 20px;
}
.trust-badges img {
  height: 50px;
  margin: 0 15px;
}
.form-section {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.h1{
  font-size: 2.5em !important;
}

/* Carrucel */
  .testimonial-carousel {
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
  }

  .testimonial-track {
    display: flex;
    transition: transform 0.5s ease;
  }

  .testimonial {
    flex: 0 0 33.3333%;
    padding: 20px;
    box-sizing: border-box;
  }

  .testimonial p {
    font-style: italic;
  }

  @media (max-width: 768px) {
    .testimonial {
      flex: 0 0 100%;
    }
  }